body{text-align: center;background: #f2f6f8;}
.img{position:absolute;z-index:1;}

#container{
    display:inline-block;
    width:320px;
    height:480px;
    margin: 0 auto;
    background: black;
    position:relative;
    border:5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333}

#myCanvas{
    position:relative;
    z-index:20;

}
.touch-auto {
  touch-action: auto;
}
.touch-none {
  touch-action: none;
}
.touch-pan-x {
  touch-action: pan-x;
}
.touch-pan-y {
  touch-action: pan-y;
}
.touch-pan-right {
  touch-action: pan-right;
}
.touch-manipulation {
  touch-action: manipulation;
}